### --- Python --- ###
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
.env
.pytest_cache/
.python-version

### --- Swift / iOS --- ###
# Xcode
build/
DerivedData/
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace
*.xcworkspace/*
!*.xcworkspace/contents.xcworkspacedata
xcuserdata/
*.xccheckout
*.moved-aside
*.xcuserstate
*.xcresult

# Swift Package Manager
.swiftpm/
.build/

### --- OS Specific --- ###
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

### --- Project Specific --- ###
# Ignore actual files being transferred during testing
tests/data/received_*
*.log
